.toolbar {
  background: #08428a;
  position: sticky;
  z-index: 5000;
  top: 0px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-text {
  margin-left: 20px;
}

.nav-bar-btn {
  color: #fff !important;
  margin-left: 50px;
}

.nav-bar-container {
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-bar-btn {
    margin-left: 0;
  }
}
