@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.image-grid-container,
.task-grid-container {
  margin: 30px;
}

.mat-grid-tile {
  cursor: pointer;
}

.mat-mdc-card-header {
  padding: 16px !important;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .center-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}
