@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
}

.image-grid-container,
.task-grid-container {
  margin: 20px;
}

.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.mat-icon {
  font-size: 24px;
}

.page-info {
  margin: 0 10px;
  font-size: 16px;
}

.no-task,
.no-image {
  min-height: 60vh;
  display: grid;
  place-items: center;
}

.image-grid-container img {
  display: none;
}

.image-grid-container img.loaded {
  display: block;
}

.mat-grid-tile {
  cursor: pointer;
}

.mat-mdc-card-header {
  display: block !important;
  padding: 0 !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .center-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-dialog-container {
  width: 50% !important;
  margin: auto !important;
  max-width: calc(100vw - 20px) !important;
}

@media (min-width: 770px) and (max-width: 1200px) {
  .mat-mdc-dialog-container {
    width: 60% !important;
  }
}

@media (max-width: 770px) {
  .mat-mdc-dialog-container {
    width: 100% !important;
  }
}
